
.icon-camera:before { content: '\e800'; } /* '' */
.icon-music:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-umbrella:before { content: '\e803'; } /* '' */
.icon-emo-sunglasses:before { content: '\e809'; } /* '' */
.icon-emo-beer:before { content: '\e80b'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-bitcoin:before { content: '\f15a'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */